<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">ZENDA</a>
      <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="currentUser$|async">
        <li class="nav-item">
          <a class="nav-link "href="#">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ">Messages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " (click)="logout()">Log out</a>
        </li>
      </ul>
      <div *ngIf="currentUser$ |async" class="dropdown" dropdown>    <!--Angular directive for the dropdown module-->
        <a class="dropdown-toggle" class="text-light" dropdownToggle>Welcome {{model.username}}</a> <!--Angular directive for the dropdown toggel module-->
        <div class="dropdown-menu" *dropdownMenu>
          <div class="dropdown-item">Edit</div>
          <div class="dropdown-item" (click)="logout()">Logout</div>
        </div>
      </div>
      <form *ngIf="!(currentUser$|async)" #loginform="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off" >
        <input
        name="username"
        [(ngModel)]="model.username"
        class="form-control me-2"
        type="text"
        placeholder="Username">
        <input
        name="password"
        [(ngModel)]="model.password"
        class="form-control me-2"
        type="password"
        placeholder="Password">
        <button class="btn btn-outline-success" type="submit">Login</button>
      </form>
    </div>
</nav>
